@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --border: 3px;
  --from: 30deg;
  --distance: 46%;
}
.picture::after {
    content: '';
    border-radius: 999px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: conic-gradient(
      from var(--from),
      #e3aa46,
      #2abfc7 var(--distance),
      transparent var(--distance)
    );
    -webkit-mask: radial-gradient(
      farthest-side,
      transparent calc(100% - var(--border)),
      #fff calc(100% - var(--border) + 1px)
    );
    mask: radial-gradient(
      farthest-side,
      transparent calc(100% - var(--border)),
      #fff calc(100% - var(--border) + 1px)
    );
  }


.shineText{
  background: linear-gradient(to right, #e3aa46 0, #e3a434, #f2a824 );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
}

@keyframes shine {
  0% {
    background-position: 0;
  }
  50% {
    background-position: 600px;
  }
  100% {
    background-position: 600px;
  }
}