@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --border: 3px;
  --from: 30deg;
  --distance: 46%;
}

body{
  overflow-x : hidden;
}

.picture::after {
    content: '';
    border-radius: 999px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: conic-gradient(
      from var(--from),
      #e3aa46,
      #2abfc7 var(--distance),
      transparent var(--distance)
    );
    -webkit-mask: radial-gradient(
      farthest-side,
      transparent calc(100% - var(--border)),
      #fff calc(100% - var(--border) + 1px)
    );
    mask: radial-gradient(
      farthest-side,
      transparent calc(100% - var(--border)),
      #fff calc(100% - var(--border) + 1px)
    );
  }


.blurText{
  animation: blurtext 3s linear;
}


@keyframes blurtext {
  0% {
    backdrop-filter: blur(16px);
  }
  50% {
    backdrop-filter: blur(16px);
  }
  100% {
    backdrop-filter: blur(16px);
  }
}


.logo-wrapper svg path{
  fill: white ;
}
.logo-wrapper svg text{
  fill: white ;
}


.brightLetters span {
  font-size: 60px;
  padding: 0 10px;
  text-transform: uppercase;
  color: #fff;
  animation: zoomup 2s linear infinite;
  animation-delay: calc(200ms * var(--i));
}

@keyframes zoomup {
  0%,
  100% {
    color: #00c2ba;
    filter: blur(1px);
    text-shadow: 0 0 10px #00c2ba, 0 0 20px #00c2ba, 0 0 30px #00c2ba,
      0 0 40px #00c2ba, 0 0 60px #00c2ba, 0 0 80px #00c2ba, 0 0 100px #00c2ba,
      0 0 120px #00c2ba;
  }

  5%,
  95% {
    filter: blur(0);
    color: #fff;
    text-shadow: none;
  }
}
